@import "tailwindcss";

:root {
  --background: rgb(246, 246, 246);
  --foreground: #0a0a0a;
  --breakpoint-mb: 300px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: outlined;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/font/just-sans-outline/outlined-bold.otf") format("woff2");
}

@theme {
  --font-outlined: "outlined", sans-serif;
  --color-secondary: #B5834A;
  --color-primary-50: #EDF8F3;
--color-primary-100: #CCEADC;
--color-primary-200: #ACDDC6;
--color-primary-300: #8BD0B0;
--color-primary-400: #6BC299;
--color-primary-500: #4AB583;
--color-primary-600: #3D946B;
--color-primary-700: #2F7454;
--color-primary-800: #22533C;
--color-primary-900: #153325;
--color-primary-950: #07120D;
}

body {
  background: var(--background);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
